# Scaricare i dati da yahoo  yfinance

## Installazione

 <ul style="font-size:18px;">
  <li>1- Scaricare il file  
<a href="https://pypi.org/project/yfinance/#files" >https://pypi.org/project/yfinance/#files</a>
</li>
  <li>2 - Installare 

    $ python3 -m pip install ~/Downloads/yfinance-0.1.59.tar.gz </li>
  
</ul> 

<p style="font-size:18px;">Note: yahoo finance datetimes are received as UTC.</p>

## Esempi

### Utilizzo di Ticker

In [1]:
import yfinance as yf
ticker= yf.Ticker("STM.MI")
stm = ticker.history(period="max")
stm.head(5)

ModuleNotFoundError: No module named 'yfinance'

In [67]:
import yfinance as yf
ticker= yf.Ticker("STM.MI")
stm = ticker.history( start="2021-01-01", end="2021-04-30")
stm.head(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-04,30.807960,31.956392,30.807960,31.676773,4169115,0.0,0
2021-01-05,31.666787,32.425753,31.656802,31.966377,3442544,0.0,0
2021-01-06,32.066244,32.255984,31.487034,32.056255,3561203,0.0,0
2021-01-07,32.096202,32.515631,31.646816,32.335876,2604215,0.0,0
2021-01-08,33.753938,34.912357,32.825205,32.955029,6072596,0.0,0

In [69]:
import yfinance as yf
ticker= yf.Ticker("STM.MI")
stm = ticker.history("STM.MI", start="2021-01-01", end="2021-04-30",interval="1h")
stm.head(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2021-01-04 09:00:00+01:00,30.850000,31.420000,30.850000,31.209999,1260921,0.0,0
2021-01-04 10:00:00+01:00,31.309999,31.410000,31.200001,31.330000,600055,0.0,0
2021-01-04 11:00:00+01:00,31.370001,31.680000,31.309999,31.650000,856241,0.0,0
2021-01-04 12:00:00+01:00,31.600000,31.700001,31.559999,31.650000,370103,0.0,0
2021-01-04 13:00:00+01:00,31.650000,31.700001,31.490000,31.610001,342501,0.0,0

In [78]:

# get stock info
ticker.info

# get historical market data
hist = ticker.history(period="max")

# show actions (dividends, splits)
ticker.actions

# show dividends
ticker.dividends

# show splits
ticker.splits

# show financials
ticker.financials
ticker.quarterly_financials

# show major holders
ticker.major_holders

# show institutional holders
ticker.institutional_holders

# show balance sheet
ticker.balance_sheet
ticker.quarterly_balance_sheet

# show cashflow
ticker.cashflow
ticker.quarterly_cashflow

# show earnings
ticker.earnings
ticker.quarterly_earnings

# show sustainability
ticker.sustainability

# show analysts recommendations
ticker.recommendations

# show next event (earnings, etc)
ticker.calendar

# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
ticker.isin

# show options expirations
#ticker.options

'-'

### Utilizzo di download

In [15]:
import yfinance as yf
data = yf.download("STM.MI", start="2021-01-01", end="2021-04-30")
data

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2021-01-04  30.850000  32.000000  30.850000  31.719999  31.676773   4169115
2021-01-05  31.709999  32.470001  31.700001  32.009998  31.966377   3442544
2021-01-06  32.110001  32.299999  31.530001  32.099998  32.056255   3561203
2021-01-07  32.139999  32.560001  31.690001  32.380001  32.335876   2604215
2021-01-08  33.799999  34.959999  32.869999  33.000000  32.955029   6072596
...               ...        ...        ...        ...        ...       ...
2021-04-23  31.495001  32.290001  31.430000  32.200001  32.200001   1657529
2021-04-26  32.255001  32.674999  31.860001  32.615002  32.615002   1738813
2021-04-27  32.695000  33.150002  32.500000  32.750000  32.750000   2741225
2021-04-28  32.665001  32.799999  31.840000  32.000000  32.000000   2673703
2021-04-29  32.290001  33.625000  30.620001  32.520000  32.520000  10026923

[82 rows x 6 columns]

### Selezionare intervallo temporale

In [72]:
import yfinance as yf
data = yf.download("STM.MI", start="2021-01-01", end="2021-04-30",interval="1h")
data.head(5)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
2021-01-04 09:00:00+01:00,30.850000,31.420000,30.850000,31.209999,31.209999,1260921
2021-01-04 10:00:00+01:00,31.309999,31.410000,31.200001,31.330000,31.330000,600055
2021-01-04 11:00:00+01:00,31.370001,31.680000,31.309999,31.650000,31.650000,856241
2021-01-04 12:00:00+01:00,31.600000,31.700001,31.559999,31.650000,31.650000,370103
2021-01-04 13:00:00+01:00,31.650000,31.700001,31.490000,31.610001,31.610001,342501

<p style="font-size:18px;">Per periodi brevi si puo` ridurre l'intervallo<br>
   Il formato data è utc , ovvero mi rimane l'ora italiana esatta, con lo scostamento <br>
    2021-01-04 09:00:00+01:00   Sono le ore 09:00  +1
</p>

In [73]:
import yfinance as yf
data = yf.download("STM.MI", start="2021-04-28", end="2021-04-30",interval="1m")
data.head(5)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-04-28 09:00:00+02:00,32.665001,32.700001,32.639999,32.680000,32.680000,0
2021-04-28 09:01:00+02:00,32.650002,32.700001,32.639999,32.674999,32.674999,6714
2021-04-28 09:02:00+02:00,32.689999,32.799999,32.689999,32.799999,32.799999,5632
2021-04-28 09:03:00+02:00,32.750000,32.750000,32.689999,32.689999,32.689999,4816
2021-04-28 09:04:00+02:00,32.705002,32.705002,32.650002,32.650002,32.650002,2695

In [79]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "STM.MI",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "ytd",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1h",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  1 of 1 completed

### Tickers multipli

In [32]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "STM.MI 3SIL.MI",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "ytd",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1h",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )
data

[*********************100%***********************]  2 of 2 completed

                          3SIL.MI                                    \
                             Open    High     Low   Close    Volume
2021-01-04 09:00:00+01:00  3.4000  3.6100  3.4000  3.5510  254619.0
2021-01-04 10:00:00+01:00  3.5860  3.5860  3.5510  3.5700  139976.0
2021-01-04 11:00:00+01:00  3.5710  3.5865  3.5445  3.5865  129368.0
2021-01-04 12:00:00+01:00  3.5510  3.5975  3.5510  3.5690   53340.0
2021-01-04 13:00:00+01:00  3.5930  3.5975  3.5005  3.5600  420142.0
...                           ...     ...     ...     ...       ...
2021-05-18 12:00:00+02:00  3.3485  3.3585  3.3430  3.3500   36210.0
2021-05-18 13:00:00+02:00  3.3300  3.3670  3.3230  3.3660   93334.0
2021-05-18 14:00:00+02:00     NaN     NaN     NaN     NaN       NaN
2021-05-18 14:00:14+02:00  3.3700  3.3700  3.3700  3.3700       0.0
2021-05-18 14:07:14+02:00     NaN     NaN     NaN     NaN       NaN

                              STM.MI                                   \
                                Open       High        Low      Close
2021-01-04 09:00:00+01:00  30.850000  31.420000  30.850000  31.209999
2021-01-04 10:00:00+01:00  31.309999  31.410000  31.200001  31.330000
2021-01-04 11:00:00+01:00  31.370001  31.680000  31.309999  31.650000
2021-01-04 12:00:00+01:00  31.600000  31.700001  31.559999  31.650000
2021-01-04 13:00:00+01:00  31.650000  31.700001  31.490000  31.610001
...                              ...        ...        ...        ...
2021-05-18 12:00:00+02:00  29.165001  29.264999  29.155001  29.170000
2021-05-18 13:00:00+02:00  29.165001  29.200001  29.125000  29.195000
2021-05-18 14:00:00+02:00  29.190001  29.195000  29.135000  29.145000
2021-05-18 14:00:14+02:00        NaN        NaN        NaN        NaN
2021-05-18 14:07:14+02:00  29.150000  29.150000  29.150000  29.150000


                              Volume
2021-01-04 09:00:00+01:00  1260921.0
2021-01-04 10:00:00+01:00   600055.0
2021-01-04 11:00:00+01:00   856241.0
2021-01-04 12:00:00+01:00   370103.0
2021-01-04 13:00:00+01:00   342501.0
...                              ...
2021-05-18 12:00:00+02:00   154689.0
2021-05-18 13:00:00+02:00   127055.0
2021-05-18 14:00:00+02:00    11877.0
2021-05-18 14:00:14+02:00        NaN
2021-05-18 14:07:14+02:00        0.0

[854 rows x 10 columns]

# NOTA : La data in formato utc

Scaricando i dati della borsa italiana si ha l'ora italiana con il +2 o piu 1

In [81]:
from datetime import datetime
from dateutil import tz

# METHOD 1: Hardcode zones:
from_zone = tz.gettz('UTC')
to_zone = tz.gettz('Europe/Rome')

# METHOD 2: Auto-detect zones:
#from_zone = tz.tzutc()
#to_zone = tz.tzlocal()

In [82]:
import yfinance as yf
data = yf.download("STM.MI", start="2021-05-14", end="2021-05-15",interval="1h")

data['local']=data.apply(lambda x : x.name.astimezone(to_zone), axis=1)

[*********************100%***********************]  1 of 1 completed

In [83]:
data['local']

2021-05-14 09:00:00+02:00   2021-05-14 09:00:00+02:00
2021-05-14 10:00:00+02:00   2021-05-14 10:00:00+02:00
2021-05-14 11:00:00+02:00   2021-05-14 11:00:00+02:00
2021-05-14 12:00:00+02:00   2021-05-14 12:00:00+02:00
2021-05-14 13:00:00+02:00   2021-05-14 13:00:00+02:00
2021-05-14 14:00:00+02:00   2021-05-14 14:00:00+02:00
2021-05-14 15:00:00+02:00   2021-05-14 15:00:00+02:00
2021-05-14 16:00:00+02:00   2021-05-14 16:00:00+02:00
2021-05-14 17:00:00+02:00   2021-05-14 17:00:00+02:00
Name: local, dtype: datetime64[ns, tzfile('/usr/share/zoneinfo/Europe/Rome')]

In [58]:
data.index.hour

Int64Index([9, 10, 11, 12, 13, 14, 15, 16, 17], dtype='int64')

In [84]:
datetime.utcnow()

datetime.datetime(2021, 5, 18, 14, 16, 8, 120328)

In [60]:
datetime.now()

datetime.datetime(2021, 5, 18, 14, 34, 47, 93402)

In [85]:
data.index[0]

Timestamp('2021-05-14 09:00:00+0200', tz='Europe/Rome')

In [86]:
ts=data.index[0]

In [90]:
ts.tzinfo